@media (min-width: 767px){
.box {
    position: relative;
    left: -13px;
}
}
.nav-active_p {
    width: 161px;
    height: 5px;
    object-fit: contain;
    background-image: linear-gradient(to left, rgba(252, 193, 83, 0), #fcc153 50%, rgba(252, 193, 83, 0));
   
    top: 88px;
      position: relative;
    right: -277px;
}

@media (max-width: 1200px) {
.nav-active_p {
    width: 148px;
    height: 5px;
    object-fit: contain;
    background-image: linear-gradient(to left, rgba(252, 193, 83, 0), #fcc153 50%, rgba(252, 193, 83, 0));
   
    top: 88px;
      position: relative;
    right: -238px;
}
}
@media (min-width: 992px) and (max-width:1199px) {
.nav-active_p {
    width: 148px;
    height: 5px;
    object-fit: contain;
    background-image: linear-gradient(to left, rgba(252, 193, 83, 0), #fcc153 50%, rgba(252, 193, 83, 0));
   
    top: 88px;
      position: relative;
    right: -480px;
}
}
.partners {
    border: 2px solid #fcc153;
    background-image: radial-gradient(circle at 50% 50%, #1c3650, #0c1b2a);
    position: relative;
    margin: 100px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px 0;
    top: -100px;
}



.partners:before {
    position: absolute;
    content: '';
    margin: 0 auto;
    width: 0;
    top: 0;
    left: 0;
    right: 0;
    border: 7px solid transparent;
    border-top-color: #fcc153;
}

.partners:after {
    position: absolute;
    content: '';
    margin: 0 auto;
    width: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 7px solid transparent;
    border-bottom-color: #fcc153;
}

.partners-corner {
    width: 40px;
    height: 40px;
    background: #080f17;
    border-bottom: 2px solid #fcc153;
    position: absolute;
}

.partners-corner:after {
    position: absolute;
    content: '';
    top: 4px;
    left: 7px;
    border: 13px solid transparent;
    border-bottom-color: #fcc153;
}

.partners-corner.left-top {
    top: -21px;
    left: -21px;
    transform: rotate(-45deg);
}

.partners-corner.right-top {
    top: -21px;
    right: -21px;
    transform: rotate(45deg);
}

.partners-corner.right-bottom {
    bottom: -21px;
    right: -21px;
    transform: rotate(135deg);
}

.partners-corner.left-bottom {
    bottom: -21px;
    left: -21px;
    transform: rotate(-135deg);
}
.partners h1 {
     font-family: RobotoSlab;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1.1px;
  text-align: center;
  color: #ffffff;
    padding: 50px;
}











































