.reg {
    border: 4px solid #fcc153;
    background-image: radial-gradient(circle at 50% 50%, #1c3650, #0c1b2a);
    position: relative;
    margin: 100px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px 0;
    top: -100px;
    padding-top: 0px;

}



.reg:before {
    position: absolute;
    content: '';
    margin: 0 auto;
    width: 0;
    top: 0;
    left: 0;
    right: 0;
    border: 7px solid transparent;
    border-top-color: #fcc153;
}

.reg:after {
    position: absolute;
    content: '';
    margin: 0 auto;
    width: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 7px solid transparent;
    border-bottom-color: #fcc153;
}

.reg-corner {
    width: 40px;
    height: 40px;
    background: #080f17;
    border-bottom: 4px solid #fcc153;
    position: absolute;
}

.reg-corner:after {
    position: absolute;
    content: '';
    top: 4px;
    left: 7px;
    border: 13px solid transparent;
    border-bottom-color: #fcc153;
}

.reg-corner.left-top {
    top: -21px;
    left: -21px;
    transform: rotate(-45deg);
}

.reg-corner.right-top {
    top: -21px;
    right: -21px;
    transform: rotate(45deg);
}

.reg-corner.right-bottom {
    bottom: -21px;
    right: -21px;
    transform: rotate(135deg);
}

.reg-corner.left-bottom {
    bottom: -21px;
    left: -21px;
    transform: rotate(-135deg);
}

.reg h1 {
    font-family: RobotoSlab;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1.1px;
    text-align: center;
    color: #ffffff;
    padding: 100px 20px;
}

.reg_icon img {
    background: white;
    width: 80px;
    height: 80px;
margin: 15px;
}

.reg_icon {
    padding-bottom: 100px;
    width: auto;
    height: auto;
    text-align: center;
}
 
.button_1 {
      display: inline-block;
    font-size: 30px;
    font-weight: 900;
    color: #0c1d2e;
    text-align: center;
    width: 201px;
    height: 68px;
    background: url(../img/button.svg) no-repeat center;
    line-height: 2.4;
    /* position: relative; */
    /* top: 0; */
    transition: top .3s;
    /* margin-top: 35px; */
    /* margin-top: 132px; */
    position: absolute;
    bottom: -36px;
    /* position: relative; */
    z-index: 1;
}
.button_1:hover {
    text-decoration: none;
    color: white;
}
 
@media (max-width: 976px) {}

@media (max-width: 767px) {
    .section-title-large .section-title-background {
    background: url(../img/title-frame-medium.svg) no-repeat center;
    
    
    
}



@media (min-width: 1200px) {}
