.strefy {
    border: 4px solid #fcc153;
    background-image: radial-gradient(circle at 50% 50%, #1c3650, #0c1b2a);
    position: relative;
    margin: 100px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px 0;
    top: -100px;
    padding-top: 0px;
    
}



.strefy:before {
    position: absolute;
    content: '';
    margin: 0 auto;
    width: 0;
    top: 0;
    left: 0;
    right: 0;
    border: 7px solid transparent;
    border-top-color: #fcc153;
}

.strefy:after {
    position: absolute;
    content: '';
    margin: 0 auto;
    width: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 7px solid transparent;
    border-bottom-color: #fcc153;
}

.strefy-corner {
    width: 40px;
    height: 40px;
    background: #080f17;
    border-bottom: 4px solid #fcc153;
    position: absolute;
}

.strefy-corner:after {
    position: absolute;
    content: '';
    top: 4px;
    left: 7px;
    border: 13px solid transparent;
    border-bottom-color: #fcc153;
}

.strefy-corner.left-top {
    top: -21px;
    left: -21px;
    transform: rotate(-45deg);
}

.strefy-corner.right-top {
    top: -21px;
    right: -21px;
    transform: rotate(45deg);
}

.strefy-corner.right-bottom {
    bottom: -21px;
    right: -21px;
    transform: rotate(135deg);
}

.strefy-corner.left-bottom {
    bottom: -21px;
    left: -21px;
    transform: rotate(-135deg);
}
.strefy h1 {
     font-family: RobotoSlab;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1.1px;
  text-align: center;
  color: #ffffff;
    padding: 50px;
}
 .strefy-image {
    overflow: hidden;
    margin-bottom: 30px;
    background-image: url(/img/assasin.jpg);
      margin-bottom: -5px;
}

.strefy-image img {
    display: block;
    width: 100%;
       
}

@media (max-width: 976px) {
  
    
}
/*@media (max-width: 767px) {
   .section-title-large .section-title-background {
    background: url(../img/title-frame-large.svg) no-repeat center;
    margin-top: 100px;
}
}*/

@media (min-width: 1200px) {
    .container-fluid {
        width: 85%;
    }
}


















