@import url('https://fonts.googleapis.com/css?family=Roboto&subset=latin-ext');

@font-face {
    font-family: BebasNeue;
    src: url("../fonts/BebasNeue-Bold.otf");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: BebasNeue;
    src: url("../fonts/BebasNeue-Regular.otf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: BebasNeue;
    src: url("../fonts/BebasNeue-Book.otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: BebasNeue;
    src: url("../fonts/BebasNeue-Light.otf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: BebasNeue;
    src: url("../fonts/BebasNeue-Thin.otf");
    font-weight: 100;
    font-style: normal;
}

body {
    font-family: BebasNeue, sans-serif;
    background: #080f17;
    overflow-x: hidden;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #fcc153;
}

@media (min-width: 767px) {
    .box {
        position: relative;
        left: -13px;
    }
}

.header {
    background: url("../img/background.jpg") no-repeat center;
    background-size: cover;
    min-height: calc(100vh + 40px);
    /* padding: 60px;*/
    display: flex;
    align-items: center;
    padding-bottom: 70px;
}


.header .row {
    justify-content: center;
}

.header-logo {}

.header-logo img {
    display: block;
    width: 100%;
}

.header-titles {
    /*  height: 100%;*/
    /* display: flex;*/
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 70px;
}

.header-title-1 {
    font-size: 24px;
    font-weight: 900;
    line-height: .9;
    color: #fcc153;
    margin-bottom: 14px;
}

.header-title-2 {
    font-size: 64px;
    font-weight: 900;
    line-height: .9;
    color: #ffffff;
    margin-bottom: 10px;
}

.header-title-3 {
    font-size: 24px;
    font-weight: 900;
    line-height: .9;
    color: #fcc153;
    margin: 0;
}

.logo-big {
    width: 430px;
    height: 469px;
    object-fit: contain;
}


/*-------------------------------------------------
NAVBAR
----------------------------------------------*/
.nav-active {
    width: 161px;
    height: 5px;
    object-fit: contain;
    background-image: linear-gradient(to left, rgba(252, 193, 83, 0), #fcc153 50%, rgba(252, 193, 83, 0));

    top: 88px;
    position: relative;
    right: 255px;
}

@media (max-width: 987px) {
    .nav-active {
        width: 161px;
        height: 5px;
        object-fit: contain;
        background-image: linear-gradient(to left, rgba(252, 193, 83, 0), #fcc153 50%, rgba(252, 193, 83, 0));

        top: 92px;
        position: relative;
        right: 255px;
    }
}

.navbar {
    width: 100%;
    height: 120px;
    background-color: #080f17;
    margin-bottom: 0;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
    font-family: BebasNeue;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    /* text-align: right;*/
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 50px;
}

.navbar-inverse {
    background: #080f17;
}

.navbar-brand {
    background: url('../img/logo.jpg') center / contain no-repeat;
    width: 200px;
    transform: translateX(-50%);
    left: 50%;
    top: 10%;
    position: absolute;
    width: 138px;
    height: 150px;
}

@media (min-width: 1200px) {
    .navbar-right {
        padding-right: 198px;
    }

    .navbar-left {
        padding-left: 185px;
    }

}

@media (max-width: 1200px) {
    .navbar-right {

        padding-right: 0px;
    }

    .navbar-left {
        padding-left: 0px;
    }
}

.collapse {
    background: #080f17;
    /* text-align: -webkit-center;*/
}

.collapse:after {
    border: 1px solid #fcc153;
    height: 2px;
    width: 100%;
}

@media (max-width: 767px) {


    .navbar-inverse .navbar-nav > li > a {
        color: white;
        font-family: BebasNeue;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        /* text-align: right;*/
        text-transform: uppercase;
        color: #ffffff;
        padding-top: 10px;
    }
}

.navbar-collapse {
    height: auto;
    min-height: fit-content;
}

.navbar-collapse a {
    padding-top: 15px;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 45px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}



@media (max-width: 992px) {

    .header-logo img {
        padding-top: 150px;
    }
}

@media (max-width: 400px) {

    .header-logo img {
        padding-top: 160px;
    }
}

@media (min-width: 768px) {
    .header-title-1 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    .header-titles {
        /*  height: 100%;*/
        /* display: flex;*/
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-top: 75px;
    }


    .header-title-2 {
        font-size: 81px;
    }

    .header-title-3 {
        font-size: 40px;
    }
}

@media (min-width: 992px) {
    .header-logo {
        margin: 0;
    }

    .header-titles {
        text-align: left;
    }

    .header-title-1 {
        font-size: 35px;
    }

    .header-title-2 {
        font-size: 72px;
        margin-bottom: 6px;
    }

    .header-title-3 {
        font-size: 35px;
    }
}

@media (min-width: 1200px) {
    .header-titles {
        text-align: left;
        padding-top: 200px;
    }

    .header-title-1 {
        font-size: 39px;
        margin-bottom: 10px;
    }

    .header-title-2 {
        font-size: 90px;
        margin-bottom: 5px;
    }

    .header-title-3 {
        font-size: 39px;
    }
}

.section-divider {
    position: relative;
}

.section-divider:before {
    display: block;
    content: '';
    border: 6px solid transparent;
    border-bottom-color: #fcc153;
    position: absolute;
    top: -12px;
    width: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.section-divider:after {
    display: block;
    content: '';
    border: 6px solid transparent;
    border-top-color: #ffffff;
    position: absolute;
    bottom: -12px;
    width: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.section-divider-growing:before {
    border: 6px solid transparent;
    border-bottom-color: #ffffff;
    top: -12px;
}

.section-divider-growing:after {
    border: 14px solid transparent;
    border-top-color: #fcc153;
    bottom: -28px;
}

.section-divider-top {
    background: linear-gradient(to right, transparent, #fcc153, transparent);
    height: 1px;
    margin-top: -1px;
}

.section-divider-bottom {
    background: linear-gradient(to right, transparent, #ffffff, transparent);
    height: 1px;
    margin-top: 4px;
    margin-bottom: -5px;
}

.section-divider-growing .section-divider-top {
    background: linear-gradient(to right, transparent, #ffffff, transparent);
}

.section-divider-growing .section-divider-bottom {
    background: linear-gradient(to right, transparent, #fcc153, transparent);
}

.hall {}

.hall-image {
    overflow: hidden;
    margin-bottom: 30px;
}

.hall-image img {
    display: block;
    width: 100%;
}

.hall-information {
    margin-bottom: 100px;
}

.hall-information p {
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.17;
    margin: 0;
}

.section-title {
    margin: -40px auto -39px;
    position: relative;
    z-index: 999;
}

.section-title-background {
    height: 80px;
    background: url("../img/title-frame-small.svg") no-repeat center;
}

.section-title-medium .section-title-background {
    background: url("../img/title-frame-medium.svg") no-repeat center;
}

.section-title-large .section-title-background {
    background: url("../img/title-frame-large.svg") no-repeat center;
}

.section-title-lines {
    height: 1px;
    width: 100%;
    background: linear-gradient(to right, transparent, #fcc153, transparent);
    position: absolute;
    top: 50%;
    z-index: -888;
}

.section-title-lines:before {
    display: block;
    content: '';
    margin: 0 auto;
    height: 1px;
    width: 60%;
    background: linear-gradient(to right, transparent, #fcc153, transparent);
    position: absolute;
    left: 0;
    right: 0;
    top: -7px;
}

.section-title-lines:after {
    display: block;
    content: '';
    margin: 0 auto;
    height: 1px;
    width: 60%;
    background: linear-gradient(to right, transparent, #fcc153, transparent);
    position: absolute;
    left: 0;
    right: 0;
    top: 7px;
}

.section-title h2 {
    font-size: 42px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
    margin: 0;
    line-height: 2;
}

.contact {
    background: #0b1927;
    padding: 120px 0;
    font-family: Roboto, sans-serif;
    text-align: -webkit-center;
}

.contact .row {
    justify-content: center;
    display: flex;
}

.contact p {
    margin: 0;
    font-size: 23px;
    line-height: 1.22;
    letter-spacing: 1px;
    color: #ffffff;
    text-align: center;
    padding-top: 50px;
}

.social-yt {
    width: 96.3px;
    height: 90px;
    object-fit: contain;
    opacity: 0.6;
}

.social-insta {
    width: 96.3px;
    height: 90px;
    object-fit: contain;
    opacity: 0.6;
}

.social-fb {
    width: 96.3px;
    height: 90px;
    object-fit: contain;
    opacity: 0.6;
}

.copyrights {
    margin: 56px 0;

}

.copyrights p {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    color: rgba(255, 255, 255, .3);
    margin: 0;
}

.button {
    display: inline-block;
    font-size: 30px;
    font-weight: 900;
    color: #0c1d2e;
    text-align: center;
    width: 201px;
    height: 68px;
    background: url("../img/button.svg") no-repeat center;
    line-height: 2.4;
    position: relative;
    top: 0;
    transition: top .3s;
    margin-top: 35px;
    left: -2px;
}

.button:hover,
.button:focus {
    text-decoration: none;
    top: -5px;
    color: #0c1d2e;
    transition: top .3s;

}

.teams {
    border: 2px solid #fcc153;
    background-image: radial-gradient(circle at 50% 50%, #1c3650, #0c1b2a);
    position: relative;
    margin: 100px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px 0;
}



.teams:before {
    position: absolute;
    content: '';
    margin: 0 auto;
    width: 0;
    top: 0;
    left: 0;
    right: 0;
    border: 7px solid transparent;
    border-top-color: #fcc153;
}

.teams:after {
    position: absolute;
    content: '';
    margin: 0 auto;
    width: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 7px solid transparent;
    border-bottom-color: #fcc153;
}

.teams-corner {
    width: 40px;
    height: 40px;
    background: #080f17;
    border-bottom: 2px solid #fcc153;
    position: absolute;
}

.teams-corner:after {
    position: absolute;
    content: '';
    top: 4px;
    left: 7px;
    border: 13px solid transparent;
    border-bottom-color: #fcc153;
}

.teams-corner.left-top {
    top: -21px;
    left: -21px;
    transform: rotate(-45deg);
}

.teams-corner.right-top {
    top: -21px;
    right: -21px;
    transform: rotate(45deg);
}

.teams-corner.right-bottom {
    bottom: -21px;
    right: -21px;
    transform: rotate(135deg);
}

.teams-corner.left-bottom {
    bottom: -21px;
    left: -21px;
    transform: rotate(-135deg);
}

.team {
    width: 135px;
    text-align: center;
    margin: 20px 10px;
}

.team img {
    display: block;
    width: 100%;
}

.team h3 {
    height: 40px;
    font-size: 23px;
    color: #fcc153;
    letter-spacing: 1px;
    margin: 20px 0 50px;
    line-height: 0.9;
}

.team ul {
    list-style-type: none;
    padding: 0;
    margin: 40px 0 0;
    font-size: 19px;
    line-height: 1.11;
    letter-spacing: 1.5px;
    color: #ffffff;
    font-weight: 400;
    position: relative;
}

.team a {
    color: #ffffff;
    transition: color .3s;
}

.team a:hover,
.team a:focus {
    color: #fcc153;
    text-decoration: none;
    transition: color .3s;
}

.team ul:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid #ffffff;
    border-top: none;
    border-left: none;
    transform: rotate(45deg);
    top: -30px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .teams {
        /*   max-width: 680px;*/
        margin-left: auto;
        margin-right: auto;
    }

    .teams-player {
        max-width: 680px;
        margin-left: auto;
        margin-right: auto;
    }

    .team-1 {
        width: max-content;
        /* margin-inline-start: -65px;*
            width: max-content;
    /* margin-inline-start: -65px; */
        /* display: flex; */
        position: relative;
        left: -66px;
    }
}

.ticket-information {
    margin: 100px 0;
}

.ticket-information p {
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.17;
    margin: 0;
}


.news {

    background-image: radial-gradient(circle at 50% 50%, #1c3650, #0c1b2a);
    position: relative;
    margin: 50px 0;
    text-align: -webkit-center;
    padding: 5px 0;
}

.news:before {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 29px solid transparent;
    border-left: 29px solid #080f17;
    border-right: 29px solid #080f17;
}

.news:after {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 29px solid transparent;
    border-left: 29px solid #080f17;
    border-right: 29px solid #080f17;
}

.news h1 {
    font-family: BebasNeue;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.1;
    letter-spacing: 1.1px;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 15px;
}

.news h2 {
    opacity: 0.5;
    font-family: BebasNeue;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.06;
    letter-spacing: 1.1px;
    text-align: left;
    color: #ffffff;
    margin-top: -5px;
    padding-left: 15px;
}

.news p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
    line-height: 1.19;
    letter-spacing: 1px;
    text-align: left;
    color: #ffffff;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 15px;
}

.anime {
    -webkit-animation: cssAnimation 1s 200 ease;
    -moz-animation: cssAnimation 1s 200 ease;
    -o-animation: cssAnimation 1s 200 ease;
}

@-webkit-keyframes cssAnimation {
    from {
        -webkit-transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
    }

    to {
        -webkit-transform: rotate(0deg) scale(0.668) skew(-1deg) translate(7px);
    }
}

@-moz-keyframes cssAnimation {
    from {
        -moz-transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
    }

    to {
        -moz-transform: rotate(0deg) scale(0.668) skew(-1deg) translate(7px);
    }
}

@-o-keyframes cssAnimation {
    from {
        -o-transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
    }

    to {
        -o-transform: rotate(0deg) scale(0.668) skew(-1deg) translate(7px);
    }
}

@media (max-width: 976px) {

    .news_5,
    .news_6 {
        display: none;
    }
}

@media (max-width: 767px) {

    .news_4,
    .news_3,
    .news_5,
    .news_6 {
        display: none;
    }
}

@media (max-width: 767px) {
    .section-title-large .section-title-background {
        background: url(../img/title-frame-medium.svg) no-repeat center;
    }

    /*  .nav-active ,.nav-active_p , .nav-active_s ,  .nav-active_r , .nav-active_t {
    display: none;
}*/
}

/*@media (max-width: 400px){
.section-title-large .section-title-background {
     background: url(../img/title-frame-small.svg) no-repeat center;}
}*/
