@media (min-width: 767px) {
    .box {
        position: relative;
        left: -25px;
    }
}
@media (max-width: 767px) {
    .box {
        position: relative;
        left: -12px;
    }
}
.nav-active_t {
    width: 100px;
    height: 5px;
    object-fit: contain;
    background-image: linear-gradient(to left, rgba(252, 193, 83, 0), #fcc153 50%, rgba(252, 193, 83, 0));

    top: 88px;
    position: relative;
    right: -395px;
}



@media (max-width: 1200px) {
    .nav-active_t {
        width: 90px;
        height: 5px;
        object-fit: contain;
        background-image: linear-gradient(to left, rgba(252, 193, 83, 0), #fcc153 50%, rgba(252, 193, 83, 0));

        top: 88px;
        position: relative;
        right: -350px;
    }
}

@media (min-width: 992px) and (max-width:1199px) {
    .nav-active_t {
        width: 90px;
        height: 5px;
        object-fit: contain;
        background-image: linear-gradient(to left, rgba(252, 193, 83, 0), #fcc153 50%, rgba(252, 193, 83, 0));

        top: 88px;
        position: relative;
        right: -592px;
    }
}

.tickets {
    border: 4px solid #fcc153;
    background-image: radial-gradient(circle at 50% 50%, #1c3650, #0c1b2a);
    margin: 25px 0;
    margin-left: 30px;

    position: relative;
    height: 650px;

}

.t_1,
.t_2,
.t_3,
.t_4,
.t_5 {
    margin-left: -15px;
    margin-right: -15px;
    text-align: -webkit-center;
}

.tickets:before {
    position: absolute;
    content: '';
    margin: 0 auto;
    width: 0;
    top: 0;
    left: 0;
    right: 0;
    border: 7px solid transparent;


}

.tickets:after {
    position: absolute;
    content: '';
    margin: 0 auto;
    width: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 7px solid transparent;
    border-bottom-color: #fcc153;
}

p {
    margin-bottom: 4rem;
}

.span {
    font-size: medium;
    /* top: -26px; */
    /* display: flex; */
    position: relative;
    top: -3px;
    left: -11px;
}

.span:before {
    position: absolute;
    content: '';
    margin: 0 auto;
    width: 45px;
    bottom: 9px;
    left: -3px;
    right: 0;
    border: 2px solid transparent;
    border-bottom-color: white;
}

.tickets-corner {
    width: 40px;
    height: 40px;
    background: #080f17;
    border-bottom: 4px solid #fcc153;
    position: absolute;
}

.tickets-corner:after {
    position: absolute;
    content: '';
    top: 4px;
    left: 7px;
    border: 13px solid transparent;
    border-bottom-color: #fcc153;
}

.tickets-corner.left-top {
    top: -21px;
    left: -21px;
    transform: rotate(-45deg);
}

.tickets-corner.right-top {
    top: -21px;
    right: -21px;
    transform: rotate(45deg);
}

.tickets-corner.right-bottom {
    bottom: -21px;
    right: -21px;
    transform: rotate(135deg);
}

.tickets-corner.left-bottom {
    bottom: -21px;
    left: -21px;
    transform: rotate(-135deg);
}

.tickets.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
}

.t_1 h1 {
    background-color: #445566;
    margin-top: 50px;
    margin-bottom: 15px;
    font-family: BebasNeue;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.04;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    padding: 34px;
}

.t_1 h2 {
    font-family: BebasNeue;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.04;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
}

.t_1 h3 {
    background-color: #0b1927;
    margin-top: 15px;
    margin-bottom: 248px;
    font-family: BebasNeue;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    padding: 34px;
    border-bottom: b
}

.t_2 h1 {
    background-color: #fec786;
    margin-top: 50px;
    margin-bottom: 15px;
    font-family: BebasNeue;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.04;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    padding: 34px;
}

.t_2 h2 {
    font-family: BebasNeue;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.04;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
}

.t_2 h3 {
    background-color: #0b1927;
    margin-top: 15px;
    margin-bottom: 227px;
    font-family: BebasNeue;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    padding: 34px;
}


.t_3 h1 {
    background-color: #fcc153;
    margin-top: 50px;
    margin-bottom: 15px;
    font-family: BebasNeue;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.04;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    padding: 34px;
    font-size: 28px;
}

.t_3 h2 {
    font-family: BebasNeue;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.04;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
}

.t_3 h3 {
    background-color: #0b1927;
    margin-top: 15px;
    margin-bottom: 227px;
    font-family: BebasNeue;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    padding: 34px;
}


.t_4 h1 {
    background-color: #e67241;
    margin-top: 50px;
    margin-bottom: 15px;
    font-family: BebasNeue;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.04;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    padding: 34px;
}

.t_4 h2 {
    font-family: BebasNeue;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.04;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
}

.t_4 h3 {
    background-color: #0b1927;
    margin-top: 15px;
    margin-bottom: 79px;
    font-family: BebasNeue;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    padding: 34px;
}

.t_5 h1 {
    background-color: #de2a01;
    margin-top: 50px;
    margin-bottom: 15px;
    font-family: BebasNeue;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.04;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    padding: 34px;
}

.t_5 h2 {
    font-family: BebasNeue;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.04;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
}

.t_5 h3 {
    background-color: #0b1927;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: BebasNeue;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    padding: 34px;
}
.line {
    height: 2px;
    background: url(../img/nav-active@2x.png) no-repeat center;
    width: 100%;
    min-width: 100%;
    position: relative;
    top: 15px;
    opacity: 0.7;
}

.button_t {
    display: inline-block;
    font-size: 30px;
    font-weight: 900;
    color: #0c1d2e;
    text-align: center;
    width: 201px;
    height: 68px;
    background: url("../img/button.svg") no-repeat center;
    line-height: 2.4;

    transition: top .3s;
    bottom: -35px;
   position: absolute;
    z-index: 1;
}
.links {
    width: auto;
    height: auto;   
    position: static;
    text-align: -webkit-auto;
    display: flex;
    justify-content: center;
}
.c_lines  {
	margin-right: -30px;
}

@media (max-width: 976px) {}

@media (max-width: 767px) {}

@media (min-width: 1200px) {}
